@import "../styles/variables";

.all {
  display: flex;
  flex-direction: column;
  padding-top: 30vh;
}

.clockDiv {
  display: flex;
  justify-content: center;
}

.clock {
  z-index: 2;
  position: absolute;
  font-size: 18vw;
  p {
    margin: 0;
  }
}

.clockBackground {
  z-index: -1;
  position: absolute;
  font-size: 18vw;
  p {
    margin: 0;
    color: $backgroundClockColor;
  }
}

.date {
  font-size: 3vw;
  text-align: end;
  padding-right: 20vw;
  p {
    margin: 0;
  }
}
